.qk-fixed-top-wrapper {
  position: static;
  ::-webkit-input-placeholder {
    color: transparent;
  }
  .qk-fixed-text {
    position: absolute;
    padding: 2px 5px;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    color: #c0c0c0;
    transition: all 0.3s;
    background-color: #fff;
    line-height: 20px;
  }
  .qk-fixed-inner {
    pointer-events: none;
  }
  .qk-fixed-top {
    pointer-events: all;
  }
}

[class$='--medium']{
  .qk-fixed-text {
    padding: 0px 4px!important;
    font-size: 13px;
    line-height: 18px;
  }
}

[class$='--small']{
  .qk-fixed-text {
    padding: 0px 4px!important;
    font-size: 13px;
    line-height: 18px;
  }
}
[class$='--mini']{
  .qk-fixed-text {
    padding: 0px 3px!important;
    font-size: 12px;
    line-height: 16px;
  }
}