.qk-tooltip-wrapper {
  position: static;
  ::-webkit-input-placeholder {
    color: transparent;
  }
  .qk-tooltip {
    pointer-events: none;
    position: absolute;
    padding: 2px 5px;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    color: #c0c0c0;
    transition: all 0.3s;
    background-color: #fff;
    line-height: 20px;
  }
}